body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: url('../images/daft-sam.gif');
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
  background: rgba(0,0,0,0.5);
  color: white;
  width: 500px;
  margin: 50px;
  padding: 15px;
}
h1{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 60px;
  margin-bottom: -50px;
}
h2 {
  font-size: 30px;
}
a {
  color: #bfe35b;
  text-decoration: none;
}
